.cell, .name-cell{
  height: 50px;
}

.non-editable{
  background-color: grey;
}

.input-sm, .input-l{
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -ms-input-placeholder :none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  text-align: center;
  background-color:inherit;
}

.project-name{
  width: 100%;
  margin-right:0px;
  display: inline-block;
}
.name{
  width: 50%;
  margin-right:0px;
  display: inline-block;
}

.chevron {
  margin-top: 9px;
}

.collapse-button{
  background-color: inherit;
  outline: 0 !important;
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
}

.editable-cell:hover{
  background-color: #9ACD32;
}

.btn{

}

.input-l{
  min-width: 50px;
}

.input-sm{
  width: 50px;
  min-width: 50px;
  max-width: 50px;
}

.cell{
  width: 72px;
  min-width: 72px;
  max-width: 72px;
}

.name-cell{
  width: 30%;
  min-width: 72px;
}

.header{
  font-weight: normal;
}

.project{
  text-align: left;
  font-weight: bold;
  padding-left: 20px;
}

.assignment{
  text-align: left;
  padding-left: 20px;
}
