.project {
  background-color: grey;
}

.input{
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -ms-input-placeholder :none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  min-width: 50px;
  text-align: center;
}

.default{
  color: grey;
}
