.container {
  margin-top: 10px;
  margin-bottom: 10px;
}

.chevron {
  margin-top: 9px;
}

.input{
  width: 60px;
  display: inline-block;
  max-width: 120px;
}

#minus {
  margin-top: 13px;
  margin-left: 3px;
  margin-right: 3px;
}

.part{
  max-width: 50%;
  width: 50%;
  display: inline-block;
}
